body {
    background: rgb(48, 232, 253);
    font: normal 15pt Aria;

}

header {
    color: rgb(0, 0, 0);
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

}

#output {
    display: flex;
    gap: 10px;

}

label {
    font-size: 25px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}

input[type="button"] {
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;

}